<h1> Reports </h1> <br>

<section>
<%= form_with url: "/reports", method: :get do |form| %>
  <%= form.label :month, "Month: " %>
  <%= select_month Date.today %>
  <%= form.label :year, "Year: " %>
  <%= select_year Date.today %>
  <%= form.submit "Submit" %>
<% end %>
</section>
  
<section>
  <h1>Report for: <%=Date::MONTHNAMES[@month.to_i]%> of <%= @year%>
  <%if !@monthly_reports.empty? %>
    <h1>Number of times employees didnt go to work this month: <%=@absence %> </h1>
    <h1>Average check_in time: <%=@avg_check_in[0]%>:<%=@avg_check_in[1]%> </h1>
    <h1>Average check_out time: <%=@avg_check_out[0]%>:<%=@avg_check_out[1]%> </h1>
    
  <%else %>
    <h1>No data found for this month</h1>
  <%end%>
</section>