<%= form_with(model: store, url: url) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% store.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %><br>
    <% store.errors.full_messages_for(:address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<p><%= link_to "Go back", url %></p>